html { 
  box-sizing: border-box; 
  font-size: 0.74vw;
  /* 計算式：　10(px) / 750(px) * 100 = 1.33
      画面幅750pxの時に "font-size: 10px" 相当になる */
}

*, *:before, *:after {
   box-sizing: inherit; 
  }

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 1.6rem;
  color: #333;
}


.btn {
  display: inline-block;
  width: 386px;
  height: 50px;
  text-align: center;
  background-color: #f24949;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  line-height: 50px;/* 上下中央揃え */
  box-shadow: 0 3px 3px rgba(0, 0, 0, .16);
}

.title {
  text-align: center;
}

.title h1 {
  color: #00bfbf;
  font-size: 3.6rem;
  letter-spacing: 0.1em;
}

.title p {
  margin-top: 3rem;
  font-size: 1.8rem;
}

@media (min-width: 1280px) {/* titleフォント最大値 */

  .title h1 {
    font-size: 36px;
  }

  .title p {
    margin-top: 30px;
    font-size: 18px;
  }
  
}




/* PC--------------------------------------------------- */


.header__top {
  height: 90px;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 100;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.header__logo {
  padding-top: 24px;
  padding-left: 24px;
  width: 256px;
}

.header__wrap img {
  width: 100%;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* 以上wrap内子要素を中央揃え */
  width: 100%;
  height: calc(100vh - 90px);/* ファーストビューを固定 */
  min-height: 678px;
  background-image: url(../img/header@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;/* 背景画像フィルター用 */
}

.header__main::before {/* 背景画像黒フィルター */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0, 0, 0, .4);
}

.header__main-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 203px;
}

.header__main-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 以上テキスト中央揃え */
  width: 632px;
  height: 250px;
  margin: 0 auto;/* 中央揃え */
  background-color: rgba(0, 191, 191, .6);
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.1em;
  line-height: 1.75;
}

.header__main-copy p {
  text-align: center;
}

.header__main-text {
  margin-top: 40px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.75;
}

.header__main-btn {
  margin-top: 88px;
}

.form {
  display: none;
}

.point {
  padding: 0 3.8rem;
}

.point__title {
  margin-top: 96px;
}

.point__contents {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 88px auto 0;
}

.point__contents-item {
  position: relative;
  text-align: center;
  border: solid 2px #00BFBF;
  border-radius: 5px;
  width: 100%;
  margin-right: 2.4rem;
}

.point__contents-item:last-child {
  margin-right: 0;
}

.point__contents-item::before {
  display: block;
  content: '';
  padding-top: 100%;/* 親要素widthからheight取得 */
}

.point__contents-item-wrap {/* レスポンシブ正方形 */
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

.point__contents-item h2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 15%;
  color: #00bfbf;
  font-size: 1.4rem;
}

.point__contents-item img {
  width: 6.7rem;
  max-width: 64px;
  margin: 0 auto;
  padding: 10% 0;
}

.point__contents-item:first-child img {
  padding: 15% 0;
}

.point__contents-item p {
  font-size: 1.4rem;
  line-height: 1.7;
  width:  80%;
  height: 20%;
  margin: 0 auto;
  text-align: start;
  /* padding-top: 10%; */
}

.point__contents-item:first-child p {
  /* padding-top: 15%; */
}

@media (min-width: 1280px) {/* フォント最大値 */

  .point__contents-item h2 {
    font-size: 14px;
  }

  .point__contents-item p {
    font-size: 14px;
  }
  
}

.company {
  padding: 0 20.3rem;
}

.company__title {
  margin-top: 196px;
}

.company__logo {
  margin-top: 54px;
}

.company__logo-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 632px;
  margin: 0 auto;
}

.company__logo-item {
  padding-top: 3.5rem;
  width: calc(20% - 3.2rem);
  min-width: 32px;
}

.company__logo-item img {
  width: 100%;
}

.price {
  padding: 0 20.3rem;
  text-align: center;
}

.price img {
  width: 150px;
  height: 100%;
  margin-top: 196px;
}

.price__title {
  margin-top: 42px;
}

.apply {
  margin-top: 196px;
  height: 90px;
}

.apply__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 90px;
  width: 632px;
  margin: 0 auto;
}

.apply__p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: bold;
}

.footer {
   width: 100%;
   margin-top: 116px;
}

.footer__toplink {
  max-width: 1280px;
  margin: 0 auto;
  text-align: right;
}

.footer__toplink a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #00bfbf;
  padding-right: 3.8rem;
}

.footer__wrap {
  height: 90px;
  background-color: #fff;
  border-top: solid 1px #707070;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  padding: 0 20.3rem;
}

.footer__wrap img {
  padding-top: 24px;
  /* padding-left: 24px; */
  padding-bottom: 23px;
  width: 256px;
  height: 100%;
}


/* sp----------------------------------------------------- */
@media all and (max-width: 767px) {

html {
  font-size: 1.33vw;
  /* 計算式：　10(px) / 750(px) * 100 = 1.33
      画面幅750px(デザイン時のサイズ)の時に "font-size: 10px" 相当になる */
}

body {
  font-size: 1.6rem;
}

.br::before {/* スマホのみ改行挿入 */
  content: "\A" ;
  white-space: pre ;
}


.btn {
  width: 67.4rem;
  height: 8.7rem;
  font-size: 3.1rem;
  line-height: 8.7rem;
}

.title h1 {
  font-size: 3.1rem;
}

.title p {
  font-size: 2.1rem;
  margin-top: 3rem;
  line-height: 1.7;
}

.form {
  display: block;
  margin-top: 5.4rem;
  text-align: center;
}

.form__main label {
  font-size: 2.1rem;
  float: left;
}

.form__main input {
  width: 33.2rem;
  height: 10rem;
  background-color: rgba(0, 191, 191, .1);
  border: solid 1px #707070;
  border-radius: 5px;
  font-size: 2.8rem;
  margin-top: 1.5rem;
  padding-left: 4rem;
}

.form__main-name {
  display: inline-flex;
}

.form__main-name-item {
  margin-left: 1rem;
}

.form__main-name-item:first-child {
  margin-left: 0;
}

.form__main-mail {
  margin-top: 3rem;
  display: inline-flex;
}

.form__main-mail input {
  width: 67.4rem;
}

.form__btn {
  margin-top: 7.6rem;
}

/* ----------------------------------------------------- */


.header__top {
  height: 60px;
  width: 100%;
}

.header__logo {
  padding-top: 14px;
  padding-right: 0;
  width: 214px;
}

.header__wrap img {
  width: 100%;
  height: 100%;
  /* line-height: 60px; */
}

.header__main {
  width: 100%;
  height: 5.8rem;
  min-height: 58rem;
  background-image: url(../img/headerSp@2x.png);
}

.header__main-btn {
  display: none;
}

.header__main-wrap {
  margin: 0 3.8rem;
}

.header__main-copy {
  width: 67.2rem;
  height: 25rem;
  font-size: 3.6rem;
}

.header__main-text {
  margin-top: 3.8rem;
  font-size: 2.1rem;
  letter-spacing: 0.075em;
}

.point {
  padding: 0 3.7rem;
}

.point__title {
  margin-top: 18rem;
}


.point__contents {
  display: block;
  margin-top: 6rem;
}

.point__contents-item {
  width: 67.6rem;
  height: 6rem;
  margin: 0 auto 3rem;
  line-height: 6rem;
}

.point__contents-item:first-child {
  margin-top: 6rem;
}

.point__contents-item:last-child {
  margin: 0 auto;
}

.point__contents-item h2 {
  padding-top: 0;
  font-size: 2.1rem;
}

.point__contents-item img {
  display: none;
}

.point__contents-item p {
  display: none;
}



.company {
  padding: 0 3.8rem;
}

.company__title {
  margin-top: 18rem;
}

.company__logo {
  margin-top: 7.1rem;
}

.company__logo-wrap {
  max-width: 67.4rem;
}

.company__logo-item {
  padding-top: 3.8rem;
  width: calc(20% - 3.4rem);
  min-width: 8.2rem;
}

.company__logo-item img {
  width: 100%;
}

.price {
  padding: 0 3.8rem;
}

.price img {
  margin-top: 18rem;
  width: 15rem;
  height: 15rem;
}

.price__title {
  margin-top: 4.5rem;
}

.apply {
  display: none;
}

.footer {
   margin-top: 18rem;
 /* padding: 0 20.3rem; */
}

.footer__toplink {
  max-width: 67.4rem;
  margin: 0 auto;
  text-align: right;
}

.footer__toplink a {
  font-size: 2.1rem;
  padding-right: 0;
}

.footer__wrap {
  height: 9rem;
  margin: 2rem auto 0;
  padding: 0 3.8rem;
}

.footer__wrap img {
  padding-top: 2.8rem;
  /* padding-left: 24px; */
  padding-bottom: 2.7rem;
  /* line-height: 9rem; */
  width: 21.4rem;
  /* height: 100%; */
}


}
